<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <div class="logo">Logo</div>
        <div class="menu">
            <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="/profile">Profile</a></li>
                <form action="/logout?_method=DELETE" method="post">
                    <button type="submit">Déconnexion</button>
                </form>
            </ul>
        </div>
    </nav>
    <div class="main">
        <h1>Bonjour <%= user.name %> Bienvenue sur mon site de connexion  </h1>
    </div>
</body>
</html>